html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    color: rgb(24, 24, 241);
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(58, 156, 173);
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.loader {
    margin: 1rem auto;
    display: block;
    width: 10rem;
    height: 10rem;
}

.error {
    padding: 1rem;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: azure;
    background-color: red;
}

.form-search {
    margin: auto;
    text-align: center;
}

.form-search input {
    display: block;
    margin: auto;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.grid-fluid {
    margin: 1rem auto;
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}


.header {
    padding: 0.5rem;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: azure;
}

.header > * {
    margin: 1rem auto;
}

.post-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: aliceblue;
}

.post-card p {
    display: flex;
    justify-content: space-between;
}